body {
    background-color:rgba(68,68,68,1);
    border: 3px solid rgba(119,119,119,1);
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 525px;
    width: justify;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    color: rgba(255,255,255,1);
    text-align: center;
    font-weight: 400;
}

nav {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgba(119,119,119,1);
    max-width: 475px;
    margin: auto;
    padding-bottom: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(131,208,163,1);
    text-align: center;
}

.active {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

main {
    margin: 30px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
}

p {
    color: rgba(255,255,255,1);
    font-size: 14px;
    line-height: 1.4;
}

img {
    float: right;
    height: 225px;
    padding: 3px;
    border: 1px solid rgba(119,119,119,1);
    margin: 7px;
}

footer {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid rgba(119,119,119,1);
    max-width: 425px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color:rgba(119,119,119,1);
}
